.app__header {
    background-image: url(../../assets/giphy.gif);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: rgb(25, 160, 250);
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
    font-size: 50px;
}


h1 {
    text-align: center;
    padding: 5px;
    margin: 0;
  }

  .line {
    width: 100%;
    height: 3rem;
    padding: 0;
    margin-bottom: 10px;
  }
  .pop-outin {
    animation: 2s anim-popoutin ease infinite;
  }
  
  @keyframes anim-popoutin {
    0% {
      color: rgb(36, 238, 96);
      transform: scale(0);
      opacity: 0;
      text-shadow: 0 0 0 rgba(56, 182, 199, 0);
    }
    25% {
      color: rgb(219, 233, 31);
      transform: scale(2);
      opacity: 1;
      text-shadow: 3px 10px 5px rgba(85, 158, 218, 0.5);
    }
    50% {
      color: rgb(164, 212, 32);
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(118, 190, 238, 0);
    }
    100% {
      /* animate nothing to add pause at the end of animation */
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(59, 193, 226, 0);
    }
  }
.app__header-h2 {

    font-family: var(--font-base);
    color: rgb(64, 230, 252);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 50px;
    font-size: 60px;
}


/*hand wave */
.wrapper {
    font-size: 48px;
    width: 100%;
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes wave {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(16.0deg) }
    20% { transform: rotate(-6.0deg) }
    30% { transform: rotate(16.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(16.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
  }
  
  .waving-hand {
    animation: wave 2.1s 0.6s infinite;
    transform-origin: 75% 75%;
    display: inline-block;
  }


  .explore__button {
    background-color: rgb(12, 213, 248);
      color: rgb(227, 231, 232);
    
      font-family: var(--font-base);
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 28px;
      font-size: 16px;
      padding: 0.5rem 1.5rem;
      border-radius: 1px;
      border: none;
      outline: none;
      cursor: pointer;
     
  }



@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
    .app__wrapper_img img {
        width: 600px;
        height: 400px;
      }
      .wrapper {
        margin-top: 300px;
      }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 90px;
    }

    .app__wrapper_img img{
        width: 600px;
        height: 400px;
      }
      .wrapper {
        margin-top: 300px;
      }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 70px;
        line-height: 87px;
    }
    .app__wrapper_img img {
        width: 300px;
        height: 300px;
      }
      .wrapper {
        margin-top: 300px;
      }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 70px;
    }

    .app__wrapper_img img {
        width: 300px;
        height: 100px;
      }

      .explore__button {
     
       align-items: center;
      }
      .wrapper {
        margin-top: 200px;
      }

    }