.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 60vh;
    padding: 2.5rem 2rem 2rem 2rem;
    background-image: url(../../assets/cloud.jpg);
}

.contactHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
   
}

.contactHeader h2 {
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    color: rgb(12, 213, 248);
}


.social {
    margin: 100px;

}

.socialimg {
    height: 100px;
    width: 110px;
    object-fit:cover;
  border-radius:40%;
}
